<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>NEWMAN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__STATIC__/css/style.css">
    <link rel="stylesheet" href="__STATIC__/css/index.css">
    <link rel="stylesheet" href="__STATIC__/css/reset.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/css/css.css">
    <link rel="stylesheet" href="__STATIC__/css/icon.css">
    <script src='__STATIC__/js/pagination.js'></script>
    <link rel="stylesheet" href="__STATIC__/css/page.css">
    <script type="text/javascript" src="__STATIC__/js/TweenMax.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="__STATIC__/js/tags.js"></script>
</head>
<body>
<div class="waifu">
    <div class="waifu-tips"></div>
    <canvas id="live2d" width="200" height="300" class="live2d"></canvas>
</div>
<header class="header">
        <div class="header-container">
            <div class="logo-container">
                <a href="http://newman.wang"><img src="__STATIC__/img/logo2.png" alt=""></a>
            </div>
            <div class="nav-container">
                <div class="nav-item"><a href="" class="iconfont icon-shijianzhou">&nbsp;&nbsp;时间轴</a></div>
                <div class="nav-item"><a href="" class="iconfont icon-liuyan">&nbsp;&nbsp;留言</a></div>
             </div>
            <div class="my-info">
                <img id="my-icon" src="__STATIC__/img/my-icon.jpg" alt="">
            </div>
            <div class="info-container">
                    <div class="info-card" id="tool">
                        <span class="bot"></span>
                        <div id="tagscloud">
                            <a class="h3">ABOUT</a>
                            <a href="https://github.com/z-god" class="iconfont icon-GitHub"></a>
                            <a href="https://blog.csdn.net/NEW_cai" class="iconfont icon-csdnlogo"></a>
                            <a class="iconfont icon-email"></a>
                            <a href="http://www.w3school.com.cn/h.asp" class="iconfont icon-qianduan"></a>
                            <a href="http://www.w3school.com.cn/b.asp" class="iconfont icon-js"></a>
                            <a href="http://www.w3school.com.cn/h.asp" class="iconfont icon-css"></a>
                            <a href="https://www.mysql.com/" class="iconfont icon-mysql"></a>
                            <a href="http://www.php.cn/" class="iconfont icon-php"></a>
                            <a href="https://www.runoob.com/" class="iconfont icon-houduanicon"></a>
                            <a href="https://www.jianshu.com/" class="iconfont icon-jianshu"></a>
                            <a href="https://www.imooc.com/" class="iconfont icon-mukewang"></a>
                        </div>
                    </div>
            </div>
        </div>
    </header>